<div class="container-fluid">
  <h1>Partners</h1>
  <div class="form-group pull-right">
    <%= form_tag partners_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "mx-sm-3 mb-2",
      placeholder: "Find a partner"
      %>

      <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      <%= link_to new_partner_path do %>
      <h2 button type="button" class="btn btn-primary m-3">Create new partner</h2></button>
      <% end %>
    </div>
    <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
      <thead>
        <tr>
          <th>#</th>
          <th>Company</th>
          <th>Name</th>
          <th>Food type</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @partners.each_with_index do |partner, index| %>
          <% indexplusone = index + 1 %>
          <th scope="row"><%= indexplusone %></th>
          <td><%= link_to(partner.company_name, partner_path(partner)) %></td>
          <td><%= partner.first_name %> <%= partner.last_name %></td>
          <td><%= partner.food_type %></td>
          <td><%= partner.address %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
