<div class="container-fluid">
  <h1>Partners</h1>
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
  </div>
  <span class="counter pull-right"></span>
  <table class="table table-hover table-bordered results">
    <thead>
      <tr>
        <th>#</th>
        <th class="col-md-5 col-xs-5">Company</th>
        <th class="col-md-5 col-xs-5">Name</th>
        <th class="col-md-4 col-xs-4">Food type</th>
        <th class="col-md-3 col-xs-3">Address</th>
      </tr>
      <tr class="warning no-result">
        <td colspan="4"><i class="fa fa-warning"></i> No result</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @partners.each_with_index do |partner, index| %>
        <% indexplusone = index + 1 %>
        <th scope="row"><%= indexplusone %></th>
        <td><%= partner.company_name %></td>
        <td><%= partner.first_name %> <%= partner.last_name %></td>
        <td><%= partner.food_type %></td>
        <td><%= partner.address %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
