<div class="container-fluid">
  <h1>Bookings</h1>
  <%= link_to new_client_booking_path do %>
          <br>
            <h2 button type="button" class="btn btn-primary m-3">Create new booking</h2></button>
            <% end %>

  <div class="form-group pull-right">
    <%= form_tag partners_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "mx-sm-3 mb-2",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  </div>
  <span class="counter pull-right"></span>
  <table class="table table-hover table-bordered results">
    <thead>
      <tr>
        <th>#</th>
        <th class="col-md-5 col-xs-5">Date</th>
        <th class="col-md-5 col-xs-5">City</th>
        <th class="col-md-4 col-xs-4">Client_id</th>
        <th class="col-md-3 col-xs-3">Guest Quantity</th>
      </tr>
      <tr class="warning no-result">
        <td colspan="4"><i class="fa fa-warning"></i> No result</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @bookings.each_with_index do |booking, index| %>
        <% indexplusone = index + 1 %>
        <th scope="row"><%= indexplusone %></th>
        <td><%= link_to(booking.date, booking_path(booking)) %></td>
        <td><%= booking.city %></td>
        <td><%= Client.find(booking.client_id).last_name %></td>
        <td><%= booking.food_type %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
