<div class="container-fluid">
  <h1>Bookings</h1>

  <div class="form-group pull-right">
    <%= form_tag bookings_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "mx-sm-3 mb-2",
    placeholder: "Find a booking"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  </div>
  <span class="counter pull-right"></span>
  <table class="table table-hover table-bordered results">
    <thead>
      <tr>
        <th>#</th>
        <th>Client's name</th>
        <th>City</th>
        <th>Date</th>
        <th>Desired food</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @bookings.each_with_index do |booking, index| %>
        <% indexplusone = index + 1 %>
        <th scope="row"><%= indexplusone %></th>
        <td><%= link_to(Client.find(booking.client_id).first_name,booking_path(booking)) %></td>
        <td><%= booking.city %></td>
        <td><%= booking.date %></td>
        <td><%= booking.food_type %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
