<div class="container-fluid">
<h1> <%= @booking.client.first_name %> <%= @booking.client.last_name %>'s booking</h1>
<p><<%= @booking.date %> </p>
<p><%= @booking.city %></p>
<%= link_to('Edit', edit_booking_path(@booking)) %>
</div>
